          <footer>
            <div>
              <a href="https://www.facebook.com/CUSustainableDesign" target="_blank">
              <img src="assets/images/Social Media Icons/Facebook(grey).svg" 
              onmouseover="this.src='assets/images/Social Media Icons/facebook(green).svg'"
              onmouseout="this.src='assets/images/Social Media Icons/Facebook(grey).svg'" />
              </a>

              <a href="http://cusustainabledesign.tumblr.com/" target="_blank">
              <img src="assets/images/Social Media Icons/tumblr(grey).svg" 
              onmouseover="this.src='assets/images/Social Media Icons/Tumblr(green).svg'"
              onmouseout="this.src='assets/images/Social Media Icons/tumblr(grey).svg'" />
              </a>
              
              <a href="https://twitter.com/CUSD" target="_blank">
              <img src="assets/images/Social Media Icons/Twitter(grey).svg"
              onmouseover="this.src='assets/images/Social Media Icons/Twitter(Green).svg'"
              onmouseout="this.src='assets/images/Social Media Icons/Twitter(grey).svg'" />
              </a>
              
              <a href="http://instagram.com/cu.sustainabledesign" target="_blank">
              <img src="assets/images/Social Media Icons/Instagram (grey).svg"
              onmouseover="this.src='assets/images/Social Media Icons/Instagram Green.svg'"
              onmouseout="this.src='assets/images/Social Media Icons/Instagram (grey).svg'" />
              </a>

              </p>

              <section class="banner">This website was created <em>exclusively</em> by CUSD student members.</section>
              <br>&copy;2014 Cornell University Sustainable Design
            </div>
          </footer>
        </section>


      </div>
    </div>
    <script src="assets/js/cusd.js"></script>
  </body>
</html>