<h2>Climate Action Plan</h2>
<p>Members of the Climate Action Plan project work closely with the Cornell Facilities department and Cornell's Campus Sustainability Office to help advance the university-wide action plan to achieve carbon neutrality by 2035.</p>
<a class="close-reveal-modal">&#215;</a>