<h2>Beebe Lake Redevelopment</h2>
<p>CUSD is working with several organizations and student initiatives to design a rehabilitated Japes Lodge on Beebe Lake. Our interdisciplinary team this semester is considering all aspects of the design, including interior, exterior, and landscape architecture, the building’s structure and technology integration.
</p>
<a class="close-reveal-modal">&#215;</a>