<h2>CornellTech Initiatives</h2>
<p>CornellTech Initiatives team works directly with managers at Cornell Facilities and industry consultants from New York City on the new applied sciences campus on Roosevelt Island. Our team gives students the opportunity to make history, build a new campus for Cornell in NYC and work alongside professionals in the field.</p>
<a class="close-reveal-modal">&#215;</a>