<h2>Environmental Futures Exhibit</h2>
<p>The Environmental Futures Exhibition (EFE) project emerged from an exciting opportunity offered to CUSD in the fall of 2014 to design and build an exhibit in partnership with the United States Green Building Council (USGBC). The exhibit examines holistic sustainability through the lens of the mesh economy.</p>
<a class="close-reveal-modal">&#215;</a>