<h2>Project Identification and Expansion</h2>
<p>Project Identification and Expansion has been working to identify local and international “needs” that CUSD’s interdisciplinary students could work to help solve. They’ve been developing project proposals that range in scale and content, from an energy-conserving nanorobotics technology, to an educational facility for girls in Ghana. </p>
<a class="close-reveal-modal">&#215;</a>