<h2>Ithaca Campus Initiatves</h2>
<p>Ithaca Campus Initiatives is a collection of projects that focus on going above and beyond existing efforts towards sustainability on campus and in general.  Teams work on anything from renewable energy applications to high-efficiency sensors to sustainable product metrics.  </p>

<a class="close-reveal-modal">&#215;</a>