<h2>Beebe Lake Redevelopment</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, consequatur, nulla ducimus architecto earum error provident aperiam delectus eos incidunt? Voluptatum, voluptatem quas expedita illum fuga rerum vero eligendi illo?</p>
<a class="close-reveal-modal">&#215;</a>