<h2>CornellTech Initiatives</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim tempora atque ex temporibus obcaecati itaque ipsa accusamus fugit autem! Aliquam, voluptatem, nam nobis eveniet vitae et quod beatae omnis.</p>
<a class="close-reveal-modal">&#215;</a>