#vis2{
	/*display: inline-block;*/
	/*position: absolute;*/

}
#vis2descript{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	float: left;
	color: #DCDCDC;
	opacity: .6;
	padding-left: 5%;
	width: 50%;
}
.vis2title{
	font-size: 18px;
}
#mainContainer{
	margin: 0 30px;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.caption{
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#vis2AddOn{

	text-align: center;	
}
.description{
	margin: 5% 12%;
	font-size: 1.2em;

}
.breakLine{
    height: 2px;
    width: 60%;
    background-color: black;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*specifically adjusts dimple axis*/
.dimple-custom-axis-label{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 12px !important;
	fill: black;
}
.title_text{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

