#errorPage {

  margin-top: rem-calc(50px);

  > section {
    @include grid-row();
    margin-bottom: rem-calc(50px);
  }

  .header-alignment {
    @include grid-column($columns:12);
    margin-bottom: rem-calc(20px);
  }

     h1 {
      text-align: center;
    }

    
.stories {

    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }


    section {
      @include grid-column($columns:12);
      
      @media #{$medium} {
        @include grid-column($columns:8);
      }
    }

}
}