#membersPage {

  margin-top: rem-calc(50px);

  > section {
    @include grid-row();
    margin-bottom: rem-calc(50px);
  }

  .header-alignment {
    @include grid-column($columns:12);
    margin-bottom: rem-calc(20px);
  }

.members {

    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }


    section {
      @include grid-column($columns:12);
      
      @media #{$medium} {
        @include grid-column($columns:8);
      }
    }
    }

.calendar {

    h3 {
      text-align: center;
    }

}

.resources {
      @include grid-column($columns:12);
      @include grid-row();
      margin-bottom: rem-calc(50px);
      
}

}