<%= render 'includes/header.html' %>
<div id="errorPage" class="container">

  <section class="stories">
    <div class="header-alignment">
      <h1>Error: Incorrect Password</h1>
    </div>

<center><h3><a href="/password.html">Try again!</a></h3></center>

</section>
</div>
<%= render 'includes/footer.html' %>