<%= render 'includes/header.html' %>
<div id="homePage" class="container">
    
  <div class="hero ie-gradient" data-slide>
    <div class="cover">
      <img class="logo" src="assets/images/home/logo_main_rgba.png">
         </div>
  </div>



  <section class="intro-text">
    <section class="what-is">
      <h1>What is CUSD?</h1>
      <p>Started in the late fall of 2009, CUSD is an interdisciplinary design-build and sustainability-focused project team. It is entirely student-led and driven by collaboration, and works closely with renowned faculty and knowledgeable professionals to provide an invaluable, hands on experiential learning opportunity. Through comprehensive analysis of every input and its effects on performance within a system, we strive to reach a healthy symbiosis of social, ecological, and economic sustainability. Providing opportunities for students from any major, our diversity - of perspective and project offerings - allows us to continuously push the envelope of innovation and resilience. 
      </p>
      <p>Our projects include an early childhood good education center in Johannesburg, South Africa; a model home with eco-technologies in Nagarote, Nicaragua; on-site energy generation research for the Cornell Tech campus on Roosevelt Island in New York City; hands on construction for a community building project in Lansing, NY; the concept design of a hub for student life and outdoor activities on Beebe Lake; and more.</p>
    </section>

    <aside class="recent-updates">
      <a href="http://cusustainabledesign.tumblr.com" target="_blank"><h1>Recent Updates</h1></a>
      <div style="height:460px;width:420px;overflow:auto;">
        <script type="text/javascript" src="http://cusustainabledesign.tumblr.com/js">
        </script>
      </div>
      
    </aside>
  </section>

    <section class="mission-statement">
    <header>
      <h1>Mission Statement</h1>
      <h4>The basis for all of our work.</h4>
    </header>
 

<SCRIPT LANGUAGE="JavaScript">

var num=1
img1 = new Image ()
img1.src = "assets/images/Mission/Mission Statement.jpg"
img2 = new Image ()
img2.src = "assets/images/Mission/Mission Statement2.jpg"
img3 = new Image ()
img3.src = "assets/images/Mission/Mission Statement3.jpg"

function slideshowUp()
{
num=num+1
if (num==4)
{num=1}
document.mypic.src=eval("img"+num+".src")
}

function slideshowBack()
{
num=num-1
if (num==0)
{num=3}
document.mypic.src=eval("img"+num+".src")
}

</SCRIPT>

<CENTER>
<IMG SRC="assets/images/Mission/Mission Statement.jpg" NAME="mypic" BORDER=0 WIDTH=650>
<p>
<p>
<A HREF="JavaScript:slideshowBack()"> Back</A>
&nbsp;&nbsp;&nbsp;
<A HREF="JavaScript:slideshowUp()"> Next</A>
</CENTER>
</section>

  <section class="values">
    <header>
      <h1>Guiding Principles</h1>
      <h4>The three core values that make us who we are.</h4>
    </header>

    <article>
      <header>
        <a class="photo" href="people.html">
          <img src="assets/images/home/values/people_s.jpg" alt="People Icon">
          <div>
            <h3>People</h3>
          </div>
        </a> 
      </header>
      <p><a href="people.html">Our people</a> are Cornell students and young alumni from all seven colleges with a wide array of skills and backgrounds. Our 150+ students are divided into multiple projects teams, plus a logistical support team with the help of our two advisors: Dave Schneider and Sirietta Simoncini.</p>
    </article>
    <article>
      <header>
        <a class="photo" href="projects.html">
          <img src="assets/images/home/values/projects_s.jpg" alt="People Icon">
          <div>
            <h3>Projects</h3>
          </div>
        </a> 
      </header>
      <p><a href="projects.html">Our projects</a> are interdisciplinary, making full use of our members&#8217; many talents and perspectives. These range from projects focusing on the Cornell community to large, international projects. All of our projects are tailored to their communities&#8217; individual needs, and our holistic view of sustainability helps them to have a life beyond our involvement.</p>
    </article>
    <article>
      <header>
        <a class="photo" href="purpose.html">
          <img src="assets/images/home/values/purpose_s.jpg" alt="People Icon">
          <div>
            <h3>Purpose</h3>
          </div>
        </a> 
      </header>
      <p><a href="purpose.html">Our purpose</a> is to set precedents for what a student organization can accomplish. We provide experiential learning opportunities for our members to create sustainable designs that bring together communities, students, faculty, and external partners to make meaningful impacts for all members.</p>
    </article>
  </section>



  <section class="current-projects">
    <header>
      <h1>Current Projects</h1>
      <h4>What we&#8217;re currently working on. To see past projects or learn more, check out the <a href="projects.html">Projects</a>&nbsp;page.</h4>
    </header>

    <div class="project-list-container">
      <ul>
        <li>
          <a href="/modals/coe.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/Beebe.png" alt="">
            <h6>Beebe Lake Redevelopment</h6>
          </a>
        </li>
        <li>
          <a href="/modals/cti.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="/assets/images/logos/CornellTech.png" alt="">
            <h6>CornellTech Initiatives</h6>
          </a>
        </li>
        <li>
          <a href="/modals/infra.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/Infrastructure.png" alt="">
            <h6>Infrastructure</h6>
          </a>
        </li>
        <li>
          <a href="/modals/ReInn.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/ICI.png" alt="">
            <h6>Ithaca Campus Initiatives</h6>
          </a>
        </li>
        
      </ul>
    </div>

      <div class="project-list-container">
      <ul>
     <li>
          <a href="/modals/CAP.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/CAP.png" alt="">
            <h6>Climate Action Plan</h6>
          </a>
        </li>
        <li>
          <a href="/modals/EFE.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/EFE logo.png" alt="">
            <h6>Environmental Futures Exhibit</h6>
          </a>
        </li>
        <li>
          <a href="/modals/PIE.html" data-reveal-id="currentProjectModal" data-reveal-ajax="true">
            <img src="assets/images/logos/PIE.png" alt="">
            <h6>Project Identification and Expansion</h6>
          </a>
        </li>

      </ul>
    </div>
  </section>



  <section class="global-impact">
    <header>
      <h1>Global Impact</h1>
      <h4>Our work affects communities across the world, as well as in our backyard.</h4>
    </header>
  </section>

  <div class="map">
    <img src="/assets/images/home/map.svg" alt="Map of our projects">
    <div class="map-panel">
      <div class="le">
        <h3>Building A Global Community</h3>
        <p>A journey of a thousand miles begins with a single step. By building better communities globally, we're taking steps towards building a better global community.</p>
      </div>
      <a href="impact.html" class="small button">See Impact&nbsp;&rarr;</a>
    </div>
  </div>

  <section class="cta-header">
    <header>
      <h1>Join Us</h1>
      <h4>There are plenty of ways you can help our mission.</h4>
    </header>
  </section>

  <section class="cta-whitespace">
    <div>
      <a href="connect.html" class="button">Contribute</a>
      
    </div>
  </section>

</div>

<div id="currentProjectModal" class="reveal-modal medium" data-reveal></div>

<%= render 'includes/footer.html' %>