<script language="JavaScript" type="text/javascript">
<!--- PASSWORD PROTECTION SCRIPT

function TheLogin() {

var password = 'gogreenmofo';

if (this.document.login.pass.value == password) {
  top.location.href="/members.html";
}
else {
  location.href="/error.html";
  }
}

// End hiding --->
</script>

<%= render 'includes/header.html' %>
<div id="passwordPage" class="container">
 
 <section class="enter">
    <div class="header-alignment">
      <h1>Enter the password:</h1>
    </div>
<br>

<center>
<form name="login" style="margin: 0px">
<INPUT TYPE="text" NAME="pass" size="17" onKeyPress="if(event.keyCode==13){ TheLogin(this.form);return false;}" style="width: 152px; margin: 5px;"><br>
<input type="button" value="Click to Login" style="width : 150px; margin: 3px" onClick="TheLogin(this.form)">
</form>
</center>
<br>
<br>
<br>
<br>
<br>
</section>

</div>
<%= render 'includes/footer.html' %>