<script language="JavaScript" type="text/javascript">
<!--- PASSWORD PROTECTION SCRIPT

function TheLogin() {

var password = 'pepper';

if (this.document.login.pass.value == password) {
  top.location.href="/connect.html";
}
else {
  location.href="/index.html";
  }
}

// End hiding --->
</script>

<%= render 'includes/header.html' %>
<br>
<br>
<br>
<br>
<br>
<center>
Enter your password:<br>
<form name="login" style="margin: 0px">
<INPUT TYPE="text" NAME="pass" size="17" onKeyPress="if(event.keyCode==13){ TheLogin(this.form);return false;}" style="width: 152px; margin: 5px;"><br>
<input type="button" value="Click to Login" style="width : 150px; margin: 3px" onClick="TheLogin(this.form)">
</form>
</center>

<%= render 'includes/footer.html' %>