<%= render 'includes/header.html' %>

<div id="peoplePage" class="container">

  <section class="stories">

    <div class="header-alignment">
      <h1>Executive Board</h1>
    </div>

    <article>
      <aside>
        <img src="assets/images/people/Mallory.jpg" alt="">
      </aside>
      <section>
        <h3>Mallory Barker</h3>
        <h6>Project Director, Infrastructure</h6>
        <h6>mlb424, Office Hours: Tuesdays 3-4 PM @ Green Dragon, Wednesdays 11 AM-12 PM @ Libe Cafe</h6>
        <p>Mallory is a senior majoring in Urban & Regional Studies in the College of Architecture, Art, and Planning. She is interested in growing healthier and happier cities through Active Design, Tactical Urbanism, and programming for human health. 
        On campus, Mallory is involved in CUSD, the Organization for Urban & Regional Studies Students, and Campus Information and Visitor Relations. During her times off campus, she works at a Real Estate firm in northern Virginia, where she has focused on everything from marketing to property management to event logistics. 
        She's currently in her third and final year at CUSD and is leading the Infrastructure team. 
</p>
      </section> 
    </article>

    <article>
      <aside>
        <img src="assets/images/people/Eden.jpg" alt="">
      </aside>
      <section>
        <h3>Eden Brachot</h3>
        <h6>Project Director, Project Identification and Expansion</h6>
        <h6>evb7, Office Hours: Tuesdays 1-2 PM @ MVR 1301</h6>
        <p>Eden is a senior in Design and Environmental Analysis pursuing a concentration in Interior Design. As a designer, she is intrigued by the thought that she can impact the way people feel upon entering a space. As a critical thinker, she believes this impact is achieved by weighing the grand concept of a project as heavily as every minor detail. 
        Eden originally joined the NYC Tech Campus project on CUSD to help design a distance-learning classroom. She then joined the Beebe Lake Redevelopment project. After a total of five semesters on CUSD, she currently directs the Project Identification and Expansion efforts, as well as co-directs the Beebe Lake Redevelopment Project. 
        Eden's dream job is to oversee the interior design of cruise ships and believes that long meetings should always be accompanied by good food.
</p>
      </section>
    </article>

   <!-- <article>
      <aside>
        <img src="assets/images/people/Zac.png" alt="">
      </aside>
      <section>
        <h3>Zac Cesaro</h3>
        <h6>Deputy Project Director, CornellTech and Re-Innovations</h6>
        <h6>ztc3, Office Hours: Thursdays 10-11 AM, Libe Cafe</h6>
        <p>Zac Cesaro is a junior at Cornell University majoring in Chemical Engineering. Zac is the Deputy Project Director for NYCTech and Re-Innovations projects of the Cornell University Sustainable Design project team, as well as the Team Lead for the Solar Energy project team.  
        Over summer 2014, Zac worked in Morgantown, WV for the U.S. Department of Energy's fossil fuel research lab studying nanoparticle catalysts for hydrocarbon reforming.
        Zac’s career aspirations include working in the energy industry on projects that emphasize sustainability and renewability.  He views widespread access to sustainable energy as one of the worlds largest problems that has tremendous room for innovation and improvement. Zac's primary focus is to help society with both immediate needs and long term sustainability all while rocking a sweet bow tie.
</p>
      </section>
    </article>-->

    <article>
      <aside>
        <img src="assets/images/people/Joshua.jpg" alt="">
      </aside>
      <section>
        <h3>Joshua Glasser</h3>
        <h6>Project Director, Beebe Lake Redevelopment</h6>
        <h6>jg769, Office Hours: Mondays 1:30-2:30 PM @ Green Dragon</a></h6>
        <p>Joshua Glasser is a freshman Urban and Regional Studies Major within the College of Architecture, Art, and Planning. Josh joined CUSD in the fall of 2014 on the Beebe Lake Project, where he now serves as the project director. Josh has previously worked as an assistant project manager at an affordable, market rate, and luxury residential real estate developer, as well as with multiple tech start-ups. Outside of CUSD, Josh serves as the President of the Court-Kay-Bauer Dormitory and Financial Deputy of the Resident Student Council (RSC), as well as sitting on the Prosperity Ithaca Executive Board. In his spare time, Josh is an avid New York Rangers fan and retired member of the Screen Actors Guild.</p>

      </section>
    </article>

    <!--<article>
      <aside>
        <img src="assets/images/people/Esha.jpg" alt="">
      </aside>
      <section>
        <h3>Esha Halabe</h3>
        <h6>Executive Board General Manager</h6>
        <h6>ebh78, Office Hours: Tuesdays 11:30 AM-12:30 PM @ Trillium</h6>
        <p>Esha is a freshman pursuing Materials Science and Engineering and a Business minor. She co-lead the Beebe Lake Redevelopment Project's Metrics Team last semester and is currently the CUSD Executive Board General Manager. Her work with CUSD has peaked her interest in sustainability and energy-saving initiatives, and she hopes to become involved with green-materials research. Outside of CUSD, Esha is an engineering peer mentor, a member of the Phi Mu sorority, and a huge Roger Federer fan.
</p>
      </section>
    </article>-->
    
    <article>
      <aside>
        <img src="assets/images/people/Courtney.jpg" alt="">
      </aside>
      <section>
        <h3>Courtney Koelbel<h3>
        <h6>Project Director, Cornell Tech Initiatives</h6>
        <h6>clk93, Office Hours: Fridays 11:30 AM-12:30 PM @ Gimme Coffee in Gates Hall<h6>
        <p>Courtney is a senior in Environmental Engineering pursuing minors is Sustainable Energy Systems and Music.  Everything she does is fueled by her passions, the most important being sustainability and social justice.  She is the Cornell Tech Initiatives project director in her fourth year on CUSD.  Previously, Courtney participated in a hydropower feasibility study, project search committee, and outreach.  Her Google Calendar is more colorful than her hair, which is saying a lot.
</p>
      </section>
    </article>
    
    <article>
      <aside>
        <img src="assets/images/people/Annie.jpg" alt="">
      </aside>
      <section>
        <h3>Annie Myers</h3>
        <h6>Project Director, Ithaca Campus Initiatives and Climate Action Plan</h6>
        <h6>aem272, Office Hours: Tuesdays 10-11 AM @ Gimme Coffe in Gates Hall</h6>
        <p>Annie is a Junior majoring in Materials Science & Engineering, originally from Cincinnati, Ohio. She joined the CUSD Solar team in 2013 and has focused on helping to integrate renewable energy on Cornell’s Ithaca campus. She believes that sustainable action is equally important on campus as it is around the world, and that a real difference can be made by fostering sustainable thinking in individuals. In her past semesters, Annie has been amazed and proud of the amount of influential work CUSD can accomplish, and as a new Project Director, she can’t wait to see what’s to come.
</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="assets/images/people/Levi.jpg" alt="">
      </aside>
      <section>
        <h3>Levi Schoenfeld</h3>
        <h6>Project Director, Aspen Climate Exhibition</h6>
        <h6>lss239, Office Hours: Mondays 2-3 PM @ Libe Cafe, Wednesdays 2-3 PM @ Green Dragon</h6>
        <p>An interdisciplinary student, I am well-versed in a variety of topics. Formally, I study Urban and Regional Studies with a focus in Urban Design and Graphics. Around campus you might see me networking in Libe or in the Landscape Architecture studio. Within CUSD, I currently act as project director of the Aspen Climate Exhibition, I work with a small interdisciplinary team to create engaging materials for festival go-ers. Before leading that project I worked as Brand Director at CUSD for 2 years, creating and curating the materials our organization uses to promote itself.
</p>
      </section>
    </article>

      <article>
      <aside>
        <img src="assets/images/people/Yodai.JPG" alt="">
      </aside>
      <section>
        <h3>Yodai Yasunaga</h3>
        <h6>Marketing and Communications Director</h6>
        <h6>yy398, Office Hours: Mondays 4:30-5:30 PM @ Green Dragon</h6>
        <p>Yodai is a Sophomore majoring in Design and Environmental Analysis, pursuing a concentration in interior design and human factors and ergonomics.  Yodai joined CUSD in spring of 2014 to further explore his passion of sustainability and human-centered design, and now directs CUSD’s Marketing and Communications.  Outside CUSD, he is the Director of Photography for The Thread Magazine, the Publicity Chair for American Society of Interior Designers, and works at the College of Human Ecology Alumni Affairs and Development.  When he manages to get out of his studio, he enjoys photography and taking care of his plants!
</p>
      </section>
    </article>
    
  </section>

  <!--<section class="stories">

    <div class="header-alignment">
      <h1>Alumni Board</h1>
    </div>

    <article>
      <aside>
        <img src="assets/images/people/Mallory.jpg" alt="">
      </aside>
      <section>
        <h3>Mallory Barker</h3>
        <h6>Project Director, Infrastructure</h6>
        <h6>mlb424, Office Hours: Tuesdays 3-4 PM @ Green Dragon, Wednesdays 11 AM-12 PM @ Libe Cafe</h6>
        <p>Mallory is a senior majoring in Urban & Regional Studies in the College of Architecture, Art, and Planning. She is interested in growing healthier and happier cities through Active Design, Tactical Urbanism, and programming for human health. 
        On campus, Mallory is involved in CUSD, the Organization for Urban & Regional Studies Students, and Campus Information and Visitor Relations. During her times off campus, she works at a Real Estate firm in northern Virginia, where she has focused on everything from marketing to property management to event logistics. 
        She's currently in her third and final year at CUSD and is leading the Infrastructure team. 
</p>
      </section> 
    </article>

  </section>-->

  <section class="join">
    <div class="header-alignment">
      <h1>Interested in Joining?</h1>
      <p>CUSD provides hands on learning opportunities, and is a great way to explore your technical and leadership potential, all while making a real difference.</p>
      
      <a href="mailto:cusd@cornell.edu" target="_blank" class="button">Email Us!</a>
    </div>
  </section>

</div>

<%= render 'includes/footer.html' %>
