<%= render 'includes/header.html' %>
<div id="projects2Page" class="container">
    
  <div class="hero ie-gradient" data-slide>
    <div class="cover">
      <img class="logo" src="assets/images/home/logo_main_rgba.png">
    </div>
  </div>