<%= render 'includes/header.html' %>
<div id="purposePage" class="container">

  <section class="header">
  <div class="header-alignment">
    <h1>What We Believe</h1>
  </div>
  </section>

  <section class="belief">
    <aside>
      <img src="assets/images/icons/Practical Impact-01.png" alt="">
    </aside>
    <article>
      <h4>Practical Impact Trumps Environmental Activism</h4>
      <p>Our work goes beyond bringing awareness to people. We aim to make tangible, long-term impacts all over the world.</p>
    </article>
  </section class="belief">

  <section class="belief">
    <aside>
      <img src="assets/images/icons/Sustainable-01.png" alt="">
    </aside>
    <article>
      <h4>Design Must Be Sustainable</h4>
      <p>All of CUSD’s designs are economically, socially, and ecologically sustainable to the community that we’re serving.</p>
    </article>
  </section class="belief">

  <section class="belief">
    <aside>
      <img src="assets/images/icons/Technological and Strategic-01.png" alt="">
    </aside>
    <article>
      <h4>Change Has To Be Technological and Strategic</h4>
      <p>We conduct cutting edge research to simultaneously develop technology and redesign how teamwork functions in our academic system.</p>
    </article>
  </section class="belief">

  <section class="belief">
    <aside>
      <img src="assets/images/icons/set precedents-01.png" alt="">
    </aside>
    <article>
      <h4>We Can Set Precedents</h4>
      <p>CUSD demonstrates that a student organization is capable of working in professional partnerships and accomplishing terrifyingly ambitious projects.</p>
    </article>
  </section class="belief">

  <section class="belief">
    <aside>
      <img src="assets/images/icons/experiential learning-01.png" alt="">
    </aside>
    <article>
      <h4>Student Value Comes From Experiential Learning</h4>
      <p>CUSD students from any major can apply their education outside of the classroom, while developing valuable mentorships along the way.</p>
    </article>
  </section class="belief">

</div>
<%= render 'includes/footer.html' %>