@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/RFda8w1V0eDZheqfcyQ4EKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/ZvcMqxEwPfh2qDWBPxn6nhAPw1J91axKNXP_-QX9CC8.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(http://themes.googleusercontent.com/static/fonts/merriweather/v6/So5lHxHT37p2SS4-t60SlL52ooqJRs02xO3mONBoqeI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'globerthin';
  src: url('../fonts/glober-thin/glober_thin-webfont.eot');
  src: url('../fonts/glober-thin/glober_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-thin/glober_thin-webfont.woff') format('woff'),
       url('../fonts/glober-thin/glober_thin-webfont.ttf') format('truetype'),
       url('../fonts/glober-thin/glober_thin-webfont.svg#globerthin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glober_regularregular';
  src: url('../fonts/glober-regular/glober_regular-webfont.eot');
  src: url('../fonts/glober-regular/glober_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-regular/glober_regular-webfont.woff') format('woff'),
       url('../fonts/glober-regular/glober_regular-webfont.ttf') format('truetype'),
       url('../fonts/glober-regular/glober_regular-webfont.svg#glober_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'globerheavy';
  src: url('../fonts/glober-heavy/glober_heavy-webfont.eot');
  src: url('../fonts/glober-heavy/glober_heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-heavy/glober_heavy-webfont.woff') format('woff'),
       url('../fonts/glober-heavy/glober_heavy-webfont.ttf') format('truetype'),
       url('../fonts/glober-heavy/glober_heavy-webfont.svg#globerheavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'globerbook';
  src: url('../fonts/glober-book/glober_book-webfont.eot');
  src: url('../fonts/glober-book/glober_book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glober-book/glober_book-webfont.woff') format('woff'),
       url('../fonts/glober-book/glober_book-webfont.ttf') format('truetype'),
       url('../fonts/glober-book/glober_book-webfont.svg#globerbook') format('svg');
  font-weight: normal;
  font-style: normal;
}