%content-row {
  @include grid-row();

  > header {
    @include grid-column($columns:12);
    margin-top: rem-calc(100px);
    margin-bottom: rem-calc(20px);

    h1 {
      margin-bottom: 0;
    }

    h4 {
      @include subheader();
      margin-top: 0;
    }
  }
}

@mixin homepage_hero($class, $image) {
  [data-slide="#{$class}"] {
    background-image: url(/assets/images/home/hero/#{$image}_s.jpg);
    @media #{$medium-up} {
      background-image: url(/assets/images/home/hero/#{$image}_m.jpg);
    }
    @media #{$large-up} {
      background-image: url(/assets/images/home/hero/#{$image}_l.jpg);
    }
  }
}


@mixin article-corner-flag(

  $color:$primary-color,
  $text:'',
  $top:14px,
  $right:6px

  ) {

  &:before {
    border-top-color: $color;
    border-right-color: $color;
  }

  &:after {
    content: $text;
    top: $top;
    right: $right;
  }
}

@mixin photo-zoom() {

  @media #{$medium-up} {
  
    min-height: rem-calc(100px);

    img {
      margin: 0;
      transition: -webkit-transform 300ms;
      -webkit-transform-origin: center center;
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background 300ms;
    }

    h3 {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: rem-calc(7px);
      margin: 0;
      // font-weight: bold;
      font-size: rem-calc(28px);
      color: rgba(255,255,255,0.85);
      opacity: 0;
      border: rem-calc(2px) solid rgba(255,255,255,0.65);
      -webkit-transform-origin: center center;
      -webkit-transform: translate3d(-50%,-50%,-100px) scale(0.9);
      transition: opacity 300ms, -webkit-transform 300ms;
    }

    a {
      display: block;
      width: 100%;
      height: 100%*2/3;
      overflow: hidden;
      position: relative;

      &:hover img {
        -webkit-transform: scale(1.1);
      }

      &:hover div {
        background: rgba(0,0,0,0.65);
      } 

      &:hover h3 {
        -webkit-transform: scale(1) translate3d(-50%,-50%,0);
        opacity: 1;
      }
    }
  }

  @media #{$large-up} {
    h3 {
      // font-weight: bold;
      font-size: rem-calc(40px);
      padding: rem-calc(10px);
      border-width: rem-calc(4px);
    }
  }
}




#homePage {
  .hero {
    position: relative;
    background: url(/assets/images/home/hero/1_s.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: rem-calc(400px);
    margin-bottom: rem-calc(40px);
    @media #{$medium-up} {
      height: 100vh;
      background-image: url(/assets/images/home/hero/1_m.jpg);
    }
    @media #{$large-up} {
      background-image: url(/assets/images/home/hero/1_l.jpg);
    }
    
    @for $i from 1 through 4 {
      @include homepage_hero("#{$i}", "#{$i}");
    }

    }

    .cover {
      @include clearfix();
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: rgba(0,0,0,0.5);
      @media #{$medium-up} {
        background: rgba(0,0,0,0.65);
      }
    }
    .logo {
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%,-50%);
      max-width: 80%;
    }

   



  @media #{$medium-only} {
    h1 {
      font-size: rem-calc(38px);
    }
  }

  .intro-text {
    @include grid-row();
    h1 {
      @media #{$medium-up} {
        margin-bottom: rem-calc(18px);
      }
    }
  }

  .what-is {
    @include grid-column($columns:12);
    @media #{$medium-up} {
      @include grid-column($columns:6);
    }

    // @media #{$large-up} {
    //   @include grid-column($columns:7);
    // }
  }

  .recent-updates {
    @include grid-column($columns:12);
    @media #{$medium-up} {
      @include grid-column($columns:6);
    }

    ol.tumblr_posts{
      list-style:none;
      margin-left:0px;
      margin-right:10px;
    }

    ol.tumblr_posts .title{
      font-size: 24px;
      font-family: join('globerbook', $body-font-family);
    }

    @media #{$large-up} {
      @include grid-column($columns:5, $offset: 1);
    }

    h4 {
      margin: 0;
    }

    h6 {
      @include subheader();
      margin-top: 0;
    }

    article {
      position: relative;
      border-bottom: 1px dashed #d8d8d8;
      padding-bottom: rem-calc(50px);
      margin: rem-calc(10px) 0 rem-calc(30px);
      
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      p {
        margin-bottom: 0;
      }

      .read-more {
        position: absolute;
        right: rem-calc(0px);
        bottom: rem-calc(22px);
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        border: 29px solid #3c9b10;
        border-left-color: transparent;
        border-bottom-color: transparent;
        top: 0;
        right: 0;
      }

      &:after {
        position: absolute;
        -webkit-transform: rotate(45deg);
        text-align: center;
        font-weight: bold;
        color: #fafafa;
      }

      @include article-corner-flag(#3c9b10, 'CUSD', $top:14px, $right:-1px);

      &.srf { @include article-corner-flag(#bc272a, 'SRF') }
      &.ssa { @include article-corner-flag(#f04f30, 'SSA') }
      &.snn { @include article-corner-flag(#0093a1, 'SNN') }
      &.blr { @include article-corner-flag(#3ab38b, 'BLR') }
      &.fpc { @include article-corner-flag(#009db2, 'FPC') }
      &.nyc { @include article-corner-flag(#b31b1b, 'NYC') }
      &.ind { @include article-corner-flag(#3c9b10, 'Ind') }
    }
  }

  .values {
    @extend %content-row;

    article {
      @include grid-column($columns:12);

      @media #{$medium-up} {
        @include grid-column($columns:4);
      }

      header {
        @include photo-zoom();
        @media #{$medium-up} {
          margin-bottom: rem-calc(10px);
        }
      }
    }

    h2{
      @media #{$small-only} {
        text-align: center;
      }
    }

    img {
      margin: 0 auto rem-calc(15px);
      display: block;
    }
  }

  .current-projects {
    @extend %content-row;
    margin-top: rem-calc(30px);
  }

  .project-list-container {
    @include grid-column($columns:12);
    margin-top: rem-calc(10px);

    ul {
      @include block-grid(2);
      @media #{$large-up} {
        @include block-grid(4);
      }
    }

    li {
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: rem-calc(20px);

      @media #{$medium-up} {
        transition: all 300ms;
        -webkit-transform: scale(.95);
        -webkit-transform-style: preserve-3d;

        &:hover {
          -webkit-transform: scale(1) translateY(rem-calc(-8px));
          box-shadow: 0 rem-calc(5px) rem-calc(10px) rgba(0,0,0,0.3);
        }

        &:active {
          -webkit-transform: scale(.98) translateY(rem-calc(-4px));
          box-shadow: 0 rem-calc(3px) rem-calc(7px) rgba(0,0,0,0.3);
          transition: all 50ms;
        }

        min-height: rem-calc(240px);
      }
    }

    img {
      display: block;
      margin: auto;
      min-height: 100px;
      max-height: 100px;
      -webkit-transform-style: preserve-3d;
    }

    h6 {
      text-align: center;
      -webkit-transform-style: preserve-3d;
    }
  }

  .mission-statement {
    @extend %content-row;
    margin-top: rem-calc(10px);
}

  .global-impact {
    @extend %content-row;
    margin-top: rem-calc(10px);
  }

  .map {
    position: relative;

    > img {
      width: 100%;
    }

    .map-panel {
      @include clearfix();
      padding: rem-calc(20px);
      
      @media #{$medium-up} {
        background: rgba(0,0,0,0.85);
        color: #d8d8d8;
        position: absolute;
        top: 5%;
        right: 0;
        width: rem-calc(640px);
       
        h3 {
          margin-top: 0;
          color: #d8d8d8;
        }

        p {
          margin-bottom: 0;
          max-width: 30rem;
          font-family: $header-font-family;
          font-weight: 300;
        }
      }

      @media #{$medium-only} {
        .le {
          margin-right: rem-calc(150px);
          float: left;
        }
      }

      @media #{$large-up} {
        top: 10%;
        left: 55%;
        height: rem-calc(250px);
        width: rem-calc(400px);
      }

      .button {
        float: right;
        
        @media #{$medium-only} {
          position: absolute;
          top: 50%;
          right: rem-calc(20px);
          -webkit-transform: translateY(-50%);
        }

        @media #{$large-up} {
        }
      }
    }
  }

  .cta-header {
    @extend %content-row;
    margin-top: rem-calc(10px);
  }

  .cta-whitespace {
    min-height: rem-calc(300px);
    height: 55vh;
    position: relative;
    @include clearfix();
  
    div {
      @include clearfix();
      text-align: center;
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform: translate(-50%,-50%);
    }

    .button {
      margin: rem-calc(0 10px 10px);
      width: rem-calc(200px);

      &:first-child {
        margin-left: 0;
      }

      &:first-child {
        margin-right: 0;
      }
    }
   
    p {
      text-align: center;
      margin-top: rem-calc(40px);
    }
  }
}















