#membersPage {

  margin-top: rem-calc(50px);

  > section {
    @include grid-row();
    margin-bottom: rem-calc(50px);
  }

  .header-alignment {
    @include grid-column($columns:12);
    margin-bottom: rem-calc(20px);
  }

.members {

    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }

    section {
      @include grid-column($columns:12);
      }
}

.calendar {

    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }

    section {
      @include grid-column($columns:12);
      }

}

.resources {
    
    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }
    
    section {
      @include grid-column($columns:12);
    }

      
}

}