#passwordPage {

  margin-top: rem-calc(50px);

  > section {
    @include grid-row();
    margin-bottom: rem-calc(50px);
  }

  .header-alignment {
    @include grid-column($columns:12);
    margin-bottom: rem-calc(20px);
  }


  .enter {

    article {
      @include grid-row();
      margin-bottom: rem-calc(50px);
    }

    aside {
      @include grid-column($columns:12);

      img {
        margin-bottom: rem-calc(20px);
      }
      
      @media #{$medium} {
        @include grid-column($columns:4);
      }
    }

    section {
      @include grid-column($columns:12);
      
      @media #{$medium} {
        @include grid-column($columns:8);
      }
    }
  }


}